---
import { SITE } from '~/config/site/config.js';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

import HeroExtraWide from '~/components/widgets/HeroExtraWide.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Block from '~/components/widgets/Block.astro';
import GlobeView from '~/components/widgets/GlobeView.jsx';

import hero from '~/config/home/hero';
import content from '~/config/home/content';
import featuredPosts from '~/config/home/featured-posts';
import steps from '~/config/home/steps';
import faqs from '~/config/home/faqs';
import features from '~/config/home/features';
import features2 from '~/config/home/features2';
import callToAction from '~/config/components/call-to-action';

import ImageGallery from '~/components/widgets/Gallery.jsx';
import gallery from '~/config/home/gallery';

import labels from '../config/components/map.json';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  {
    hero && hero.enabled && (
      <HeroExtraWide
        callToAction={{
          enabled: hero.callToAction.enabled,
          text: hero.callToAction.text,
          href: hero.callToAction.href,
          target: hero.callToAction.target,
          rel: hero.callToAction.rel,
          icon: hero.callToAction.icon,
        }}
        callToAction2={{
          enabled: hero.callToAction2.enabled,
          text: hero.callToAction2.text,
          href: hero.callToAction2.href,
          target: hero.callToAction2.target,
          rel: hero.callToAction2.rel,
          icon: hero.callToAction2.icon,
        }}
        image={{ enabled: hero.image.enabled, src: hero.image.src, alt: hero.image.alt }}
      >
        {hero.title.enabled && <Fragment slot="title" set:html={hero.title.text} />}

        {hero.subtitle.enabled && <Fragment slot="subtitle" set:html={hero.subtitle.text} />}
      </HeroExtraWide>
    )
  }

  <!-- Note Widget ******************* -->

  <Note />

  {gallery && gallery.enabled && <ImageGallery client:only="react" photos={gallery.photos} layout={gallery.layout} />}

  <!-- Features Widget *************** -->

  {
    features && features.enabled && (
      <Features
        highlight={features.highlight}
        title={features.title}
        subtitle={features.subtitle}
        items={features.items}
      />
    )
  }

  <!-- Content Widget **************** -->
  {
    content && content.enabled && (
      <>
        <Content
          highlight={content.primary.highlight}
          title={content.primary.title}
          items={content.primary.items}
          image={{
            src: content.primary.image.src,
            alt: content.primary.image.alt,
            enabled: content.primary.image.enabled,
          }}
        >
          <Fragment slot="content" set:html={content.primary.description} />
        </Content>
        {content.secondary.enabled && (
          <Content
            isReversed
            isAfterContent
            items={content.secondary.items}
            image={{
              src: content.secondary.image.src,
              alt: content.secondary.image.alt,
              enabled: content.secondary.image.enabled,
            }}
          />
        )}
      </>
    )
  }

  <!-- Steps Widget ****************** -->

  {
    steps && steps.enabled && (
      <Steps
        title={steps.title}
        subtitle={steps.subtitle}
        items={steps.items}
        image={{
          src: steps.image.src,
          alt: steps.image.alt,
        }}
      />
    )
  }

  <!-- Features2 Widget ************** -->

  {
    features2 && features2.enabled && (
      <Features2
        columns={features2.columns}
        title={features2.title}
        subtitle={features2.subtitle}
        highlight={features2.highlight}
        items={features2.items}
      />
    )
  }

  <!-- HighlightedPosts Widget ******* -->

  {
    featuredPosts && featuredPosts.enabled && (
      <LatestPosts
        title={featuredPosts.title}
        information={featuredPosts.information}
        postIds={featuredPosts.postIds}
      />
    )
  }

  <!-- FAQs Widget ******************* -->

  {
    faqs && faqs.enabled && (
      <FAQs title={faqs.title} subtitle={faqs.subtitle} highlight={faqs.highlight} items={faqs.items} />
    )
  }

  <!-- Block Widget ****************** -->

  <Block
    enabled={true}
    title={'Photo Gallery'}
    highlight={'Gallery'}
    content={'Traveling has been a huge part of our lives. We have taken photos all over the globe and have a special gallery here to highlight some of our favorite moments as a couple.'}
    image={{
      enabled: true,
      src: import('~/assets/images/g-and-l-streets.jpg'),
      alt: 'Grant and Leah holding hands in Morocco',
    }}
    callToAction={{
      enabled: true,
      text: 'View Gallery',
      href: '/gallery',
      target: '_self',
      rel: 'noopener',
      icon: 'tabler:photo',
    }}
  />

  <!-- CallToAction Widget *********** -->
  {
    callToAction && callToAction.enabled && (
      <CallToAction
        callToAction={{
          enabled: callToAction.button.enabled,
          text: callToAction.button.text,
          href: callToAction.button.href,
          icon: callToAction.button.icon,
          rel: callToAction.button.rel,
          target: callToAction.button.target,
        }}
      >
        <Fragment slot="title" set:html={callToAction.title} />
        <Fragment slot="subtitle" set:html={callToAction.subtitle} />
      </CallToAction>
    )
  }

  <Block
    backgroundCss={''}
    enabled={true}
    highlight={'Travel Globe ðŸŒ'}
    content={`Give the globe a spin and see where we've been!`}
  />

  <GlobeView client:only="react" labels={labels} arcs={{ enabled: true, count: 12 }} />

  <!-- Locations 'link' block -->
  <Block
    enabled={true}
    title={'Location'}
    subtitle={null}
    highlight={'Wedding Location'}
    content={'Details about the wedding ceremony and reception locations'}
    image={{
      enabled: true,
      src: import('~/assets/images/house.jpg'),
      alt: 'main house at the wedding location',
    }}
    callToAction={{
      enabled: true,
      text: 'View Location',
      href: getPermalink('/location'),
      target: '_self',
      rel: 'noopener',
      icon: 'tabler:mountain',
    }}
    callToAction2={{
      enabled: false,
      text: 'Button 2',
      href: 'https://www.google.com',
      target: '_blank',
      rel: 'noopener',
      icon: 'tabler:star',
    }}
  />

  <Block
    backgroundCss={''}
    enabled={true}
    highlight={'About the site'}
    content={`This website is <em>nifty!</em> Did Grant build this website? Yeah, I bet he did... yep he did. If you're a computer nerd like Grant and somehow manage to get married you too can use this site as it is fully <a class="text-muted hover:text-gray-700 underline text-sage-900 transition duration-150 ease-in-out" href="https://github.com/grantbirki/gl" target="_blank">open source</a> on GitHub.`}
  />
</Layout>~/config/pages/locations/locations
