---
import { SITE } from '~/config/site/config.js';
import Layout from '~/layouts/PageLayout.astro';

import HeroVertImg from '~/components/widgets/HeroVertImg.astro';
import hero from '~/config/pages/save-the-date/hero';
import Block from '~/components/widgets/Block.astro';
import ConfettiPop from '~/components/widgets/Confetti.jsx';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <ConfettiPop client:only="react" />

  <!-- Hero Widget ******************* -->

  {
    hero && hero.enabled && (
      <HeroVertImg
        padding={hero.padding}
        callToAction={{
          enabled: hero.callToAction.enabled,
          text: hero.callToAction.text,
          href: hero.callToAction.href,
          target: hero.callToAction.target,
          rel: hero.callToAction.rel,
          icon: hero.callToAction.icon,
        }}
        callToAction2={{
          enabled: hero.callToAction2.enabled,
          text: hero.callToAction2.text,
          href: hero.callToAction2.href,
          target: hero.callToAction2.target,
          rel: hero.callToAction2.rel,
          icon: hero.callToAction2.icon,
        }}
        image={{ enabled: hero.image.enabled, src: hero.image.src, alt: hero.image.alt }}
      >
        {hero.title.enabled && <Fragment slot="title" set:html={hero.title.text} />}

        {hero.subtitle.enabled && <Fragment slot="subtitle" set:html={hero.subtitle.text} />}
      </HeroVertImg>
    )
  }

  <br />
  <Block
    backgroundCss={''}
    enabled={true}
    title={`<span class="extra-fancy">${SITE.weddingDate}</span>`}
    content={'<div class="fancy">Grant and Leah<br><a class="underline-link" href="https://maps.app.goo.gl/e9ZA5bm9XZ361UqLA">Salinas, CA</a></div>'}
    callToAction={{
      enabled: true,
      text: 'Details',
      href: '/details',
      target: '_self',
      rel: 'noopener',
      icon: 'tabler:notebook',
    }}
  />
  <br />
</Layout>
